*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:30px;
}

.hero{
    background:#81c784;
    text-align:center;
    padding:60px;
    color:white;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:30px;
}

.card{
    background:white;
    width:250px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.quiz{
    text-align:center;
    padding:40px;
}

button{
    margin:10px;
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#2e7d32;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#1b5e20;
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
}
.card{
    transition: 0.4s;
}

.card:hover{
    transform: translateY(-10px);
}